@using Movies.Core.ViewModels.Search
@model IEnumerable<SearchViewModel>

    	@foreach (var item in Model)
					{
	
	<div class="col-md-10">
		<div class="col-md-20">
			<div  class="col-md-20">
				<div class="movie-item">
						<div class="col-md-50">
                                <a asp-action="GetMovieById" asp-controller="Movie" class="btn" asp-route-id="@item.MovieId">

                                    <img width="200" src="@item.CoverPhoto" />
                                </a>
                                    <h5  class="card-title" style="color:white">@item.MovieName<hr></h5>
                            </div>
				</div>
			</div>
	</div>
	</div>
  			}