@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="AddMovie" asp-controller="Movie"  class="btn btn-danger">Add Movie</a>
<a asp-action="AllMovie" asp-controller="Movie"  class="btn btn-danger">All Movie</a>